*{
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  margin: 0;
}

img{
  height: 80px;
  background-color:coral;
  border-radius: 10px;
  
}

h1{
  font-size: 2.5rem;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}



/* for mobile */
[class*="col-"]{
  width: 100%;
}

.navber{
  background-color: #0c6168;
  padding: 1% 7%;
  text-align: center;
}

.navber h1{
  color: white;
  margin: 0;
  padding-top: 10px;
}

.nav-menu{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.nav-menu a{
  background-color: #13a1ad;
  margin: 7px 0;
  padding: 10px;
  border-radius: 10px;
}

.nav-menu a:hover{
  background-color: #0cbaca;
}

[class*="col-"]{
  float: left;
  padding: 10px;
}

.navber::after{
  display: table;
  content: '';
  clear: both;
}